
/* Header Styles */
.header {
  background-image: url(../images/dotsss-03.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: stretch;
  max-height: 400px;
  height: 166px;
  background-position: bottom;
}



/* Navigation styles */
  #nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 20px;
    height: 100px;
    align-items: center;
    position: sticky;
    top: 0; 
    z-index: 100;
    justify-content: center;
  }
  #center img {
    display: flex;
    position: static;
  justify-content: center;
    
  }
  
   #left  {
    display:flex;
    flex-direction: row;
    margin-right: 28%;
    margin-left: 5%;
 justify-content: center;
    align-items: space-around;
   padding:10px;
    
  }

#right {
    justify-content:flex-start;
    display:flex;
    flex-direction: row; 
    text-align: right;
    margin-left: 25%;
  
}
  #right a {  
   color: white;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    font-family:'Josefin Sans', sans-serif;
    justify-content: space-between;
    }

/* head styles */
.main {
  display: flex;
  flex-direction: column;
  position:relative;
}
.meGif {
  position:absolute;
  right: 0;
  margin: 0 auto;
  top:50%;
  transform: translateY(-50%);
width: 20rem;
margin-right:80px;
    box-shadow: 
    -18px -18px 20px rgba(0,0,0,0.1),
    15px 15px 15px rgba(0,0,0,0.3);
}

.main h1 {

          font-family: acier-bat-gris, sans-serif;
          color:black;
          font-weight: 300;
          font-style: normal;
          font-size: 80px;
          justify-content: center;
          text-align: center;
        }

.headlinegif {
  display:block;
      font-family:'Josefin Sans', sans-serif;
      font-weight: 100;
      line-height: 2;
      font-size: 30;
      justify-content: center;
      text-align: center;
      color:white;
}

#parent {
  display: flex;
  flex-direction: row;
  background-color: #535355;
  height: 1100px;
  width: 100%;
  padding: 1px;
  justify-content:space-evenly;
  align-items: flex-end;
}
#child1, #child3, #child2 {
  position:relative;
  display: grid;
  grid: template columns 100%; 
  grid-template-rows: 1fr 1.5fr;
  width: 28%;
  border-top-right-radius: 50vw;
  border-top-left-radius: 50vw;
  justify-content:center;
  align-items:flex-end;
  height:1000px;
  border: 2px;
  box-shadow: -5px -8px 6px 8px #0404045b;
 
 }
 #child1 {
   background-color: #ACECEB;
justify-content: center;
 }
#child2 {
  background-color: #FB65FB;
 }
#child3 {
   background-color: #EEFF41;
   }

.text {
  padding: 50px;
  min-height: 600px;
}

.text h2 {
  font-family:'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 2;
  font-size: 24px;
  justify-content: center;
  text-align: center;
  }
  .text h3 {
    font-family:'Josefin Sans', sans-serif;
    font-weight: 100;
    line-height: 2;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    }
    

 .logos {
  padding-left: 60px;
  padding-top: 60px;
max-width: 75%;
}

/* Footer Styles */
  #footnav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 100px;
    font-size: 20px;
   }
  .footer a {
    color:#ACECEB;
    padding: 20px 40px;
    font-family:'Josefin Sans', sans-serif;
    text-decoration: none;
    font-style: light;
   }
  

